*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Trebuchet MS', sans-serif;
  color: $c-brand-light;
  background: $c-brand-dark;
}

a {
  color: $c-link;
  border-bottom: dotted 1px currentColor;
  text-decoration: none;
}

.section-in {
  padding: $gutter;
  max-width: 960px;
  // max-width: $medium-range[0];
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.full {
  margin-left: -($gutter);
  margin-right: -($gutter);
}

.u-title {
  font-family: 'Petit Formal Script', cursive;
  text-transform: capitalize;
  px2rem(42px);
  margin: 0;
  padding: .25em;
}
