*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Trebuchet MS', sans-serif;
  color: $c-brand-light;
  background: $c-brand-dark;
}

a {
  color: $c-link;
  border-bottom: dotted 1px currentColor;
  text-decoration: none;
}

.section-in {
  padding: $gutter;
  max-width: 960px;
  // max-width: $medium-range[0];
  margin: 0 auto;
}


img {
  width: 100%;
}

.full {
  margin-left: -($gutter);
  margin-right: -($gutter);
}

.u-title {
  font-family: 'Petit Formal Script', cursive;
  text-transform: capitalize;
  px2rem(42px);
  margin: 0;
  padding: .25em;

  +mq('small-only') {
    text-align: center;
  }
}

.svgicon {
  width: 80px;
  height: @width;
}

.btn {
  background: $c-link;
  display: block;
  color: $c-dark;
  // border: 1px solid $c-dark;
  border: 0;
  box-shadow: 2px 2px 0 0 rgba($c-dark, .5);
  border-radius: $gutter-4;
  padding: $gutter-2;
  text-align: center;

  +mq('medium-up') {
    display: inline-block;
    min-width: 15em;
  }
}

.to-top {
  position: fixed;
  height: 40px;
  width: @height;
  background: black;
  z-index: 3;
  bottom: $gutter;
  right: $gutter;
  display: none;
}
