#contact {
  background: $c-contact;
  clearfix();
  padding-bottom: ($gutter*3);

  .u-title {
    color: $c;
  }
}

.contact-item {
  padding-top: $gutter;

  dt {
    padding: $gutter-2 0 $gutter-4 ;
    color: $c;
    border-bottom: 1px solid $c-dark;
    font-weight: 700;
  }
  dd + dt {
    padding-top: $gutter-2;
  }

  dd {
    padding: $gutter-2;
    margin: 0;
  }



  +mq('medium-up') {

    &:not(.contact-item-big) {
      display: inline-block;
      width: 50%;
      vertical-align: top;

      &:nth-child(odd) {
        padding-right: $gutter;
      }
      &:nth-child(even) {
        padding-left: $gutter;
      }
    }
  }
}

.contact-adress {
  iframe {
    display: block;
    margin-top: $gutter;
    width: 100%;
    border: 0;
  }
}
