header {
  background: $c-brand;
  padding: $gutter 0 0;

  +mq('small-only') {
    padding-bottom: 28px;
    background-image: url('wall.svg');
    background-repeat: repeat-x;
    background-position: bottom center;
    background-size: 33px 25px;
  }
}

.header-logo {
  margin: 0 auto;
  padding-bottom: $gutter;
  text-align: center;

  a {
    display: block;
    border: 0;
    padding: 0 $gutter;
  }
  img {
    width: 230px;
    height: 55px;
  }

  +mq('small-only') {
    margin-top: -($gutter-2);

    img {
      height: 40px;
    }
  }
}

.header-baseline {
  px2rem(12);
  font-weight: 200;
  color: $c-brand-light;
  margin: 0;

  +mq('medium-up') {
    px2rem(14);
    br {
      display: none;
    }
  }
}

.header-toggle-menu {
  $$stroke = 6px;
  position: absolute;
  top: $gutter-2;
  left: $gutter-2;
  z-index: 2;
  background: none;
  border: 0;
  padding: 0;

  +mq('medium-up') {
    display: none;
  }

  .svgicon {
    fill: $c-dark;
  }
}

.header-nav-out {
  display: none;

  +mq('small-only') {
    &.is-open {
      padding-top: 11px;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      background: $c-darkest;

      li:first-child {
        border: 0;
      }
    }
  }

  +mq('medium-up') {
    display: block;
  }
}

.header-nav-in {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  max-width: 960px;

  a {
    padding: $gutter-2 0;
    display: block;
    color: $c-brand-light;
    border-bottom: 0;
  }

  +mq('small-only') {
    li {
      border-top: 1px solid rgba($c-brand-light, .25);
    }
  }
  +mq('medium-up') {

  }
}

+mq('medium-up') {

  .header-nav-out {
    background: $c-brand url('wall.svg') repeat-x top center;
    padding-top: 25px;
    background-size: 33px 25px;
  }

  .header-nav {
    background: $c-dark;
    border-bottom: 1px solid $c;
  }

  .header-nav-in {
    clearfix();

    li {
      float: left;
      width: 33.333333333%;
    }
    a {
      transition: color .25s;
      padding: $gutter 0;

      &:hover {
        color: $c-white;
      }
    }
  }
}

.header-lang {

  .svgicon {
    height: 25px;
    width: 38px;
  }

  +mq('medium-up') {
    position: absolute;
    top: $gutter;
    right: $gutter;
  }
}
