////////
// CSS CAROUSEL
////////

.carrousel {
  padding-bottom: $gutter;
  list-style: none;
  padding: 0;
  position: relative;

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    height: auto;
    +mq('small-only') {
      width: 100%;
    }
  }
}

////////
// HOME
////////

$home-speed = 6s;

.carrousel-1 {
  img {
    width: 100%;
  }
  .carrousel-item {
    position: relative;
    animation: fadeInfadeOutQuarter linear ($home-speed * 4);
    animation-iteration-count: infinite;
  }
  .carrousel-item + .carrousel-item {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  for num in 0 1 2 3 {
    .carrousel-item:nth-child({num + 1}) {
      z-index: (4 - num);
      animation-delay: (num * $home-speed);
    }
  }
}

@keyframes fadeInfadeOutQuarter {
  0% {
    opacity:1;
  }
  25% {
    opacity:1;
  }
  30% {
    opacity:0;
  }
  95% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

////////
// ROOMS & SERVICES
////////

@keyframes fadeInfadeOut {
  0% {
    opacity:1;
  }
  45% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  95% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.carrousel-2 {
  +mq('medium-up') {
    .carrousel-item {
      display: inline-block;
      width: 50%;
      vertical-align: top;
    }
  }
}

.carrousel-2 {
  position: relative;

  +mq('small-only') {
    .carrousel-item:nth-child(3n),
    .carrousel-item:nth-child(4n) {
      display: none;
    }
  }
  +mq('medium-up') {
    .carrousel-item {
      transition: opacity 1.5s;
    }
    .carrousel-item:nth-child(3n),
    .carrousel-item:nth-child(4n) {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      animation: fadeInfadeOut linear 12s;
      animation-iteration-count: infinite;
    }
    &[data-step="1"] .carrousel-item {
      opacity: 1;
    }

    .carrousel-item:nth-child(4n) {
      left: 50%;
    }
  }
}

#services .carrousel-item {
  background-color: $c-service;
}
