#presentation {
  padding-bottom: 80px;
  background: url('door-expanded.svg') no-repeat bottom center;
  background-size: 69px 74px;
}

.tripadvisor {
  text-align: center;

//   ul {
//     list-style: none;
//     margin: 0;
//     padding: 0;
//   }

//   a {
//     border: 0;
//   }

//   img {
//     width: auto;
//   }

//   +mq('small-only') {
//     text-align: center;

//     ul {
//       display: none;
//     }
//   }
}

.tripadvisor-hall {
  display: inline-block;
  // display: block;
  // margin: 0 auto;
  padding: $gutter $gutter-2;
  border: 0;
  background: $c-white;

  img {
    display: block;
    margin: 0 auto;
    width: auto;
  }
}

// +mq('medium-up') {
//   .tripadvisor {
//     position: relative;
//     min-height: 320px;

//     ul {
//       padding-left: 250px;

//     }
//     li {
//       width: 168px;
//       height: 133px;
//       display: inline-block;
//     }
//   }
//   .tripadvisor-hall {
//     position: absolute;
//     left: 0;
//   }
// }
