#rooms {
  padding-bottom: $2-gutter;
  background: $c-rooms url('moat.svg') repeat-x bottom center;
  background-size: 75px 20px;

  h1,
  h2  {
    color: $c-darkest;
  }

  h2 {
    font-family: $f-cursive;
    px2rem(32);

    +mq('small-only') {
      text-align: center;
    }
  }

  .rooms-images {
    padding-bottom: $gutter;

    +mq('medium-up') {
      img {
        display: inline-block;
        width: 50%;
        vertical-align: top;
      }
    }
  }

  .rooms-description {
    text-align: left;
  }

  dl,
  dt,
  dd {
    margin: 0;
  }

  dl {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin-bottom: 1em;
    text-align: center;

    +mq('small-only') {
      [lang="fr"] & {
        display: block;
        width: auto;
      }
    }

    +mq('medium-up') {
      width: 25%;
    }
  }

  dt {
    font-family: $f-cursive;
    px2rem(26);

  }

  dd {
    color: $c-darkest;
    px2rem(14);
  }
}

.rooms-price-in {
  table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-top: 1px solid rgba($c-dark);
    border-bottom: 1px solid rgba($c-dark);
  }
  th,
  td {
    padding: $gutter-2 0;
  }
  tr > :first-child {
    border-right: $gutter solid $c;
  }
  tr > :last-child {
    border-left: $gutter solid $c;
  }
  td {
    color: $c-darkest;
    border-top: 1px solid rgba($c-dark);
  }
  strong {
    font-weight: 400;
    px2rem(32);
  }
  +mq('medium-up') {
    display: inline-block;
    width: 50%;
    vertical-align: top;

    &:nth-child(odd) {
      padding-right: $gutter;
    }
    &:nth-child(even) {
      padding-left: $gutter;
    }
  }
}
