include ./mixins/icon

doctype html
html(lang="#{getLocale()}")
  include _head
  body
    noscript: style.
      .header-logo a { text-align: center; }
      .header-nav-out { display: block; }
      .header-toggle-menu { display: none; }
      .contact-adress iframe { display: none; }

    include svg-symbols.svg
    include _header
    #main
      include presentation
      include rooms
      include services
      include contact

    a.to-top.js-to-top.js-scroll-to(href="#header")
      +icon('top')
    script(src="lib.js")
    script(src="index.js")
    script.
      require('allin1');
