section#presentation: .section-in
  //- P A very warm welcome to All in 1 Guesthouse.
  //-  | Our team will try its best to make your stay as convenient as possible
  //-  | in our small hotel right in the middle of Chiang Mai

  .full: img(src="cover-1.png")

  p ALL IN 1 GUESTHOUSE est idéalement situé en plein quartier historique de Chiang Mai, à 500 mètres du marché du samedi et de celui du dimanche, à moins d un kilomètre du Night Bazaar.

  p ALL IN 1 GUESTHOUSE vous propose 20 chambres confortables et fonctionnelles, doubles ou twin, toutes avec climatisation et ventilateur, tv satellite, mini bar, lecteur dvd, salle de bain privative, wifi par fibre optique.

  p Ouverts 24h/24, nous vous conseillerons au mieux pour organiser toutes vos visites et activités à Chiang Mai et pourrons vous aider pour le reste de votre séjour dans le pays.

  p Vous pouvez prendre votre petit-déjeûner sur place, ou simplement vous relaxer dans notre petit jardin autour d un verre. Nous disposons également d un petit salon de massages et gérons la location de scooters.

  p NOUS VOUS SOUHAITONS LA BIENVENUE DANS LE ROYAUME DU MILLION DE RIZIERES (LANNA)

  //- p All in 1 Guesthouse vous propose 20 chambres confortables et calmes avec une salle de bains privative ainsi qu'une connexion Wi-Fi gratuite par fibre optique dans tout l'établissement.

  //- p Idéalement situé dans le carré historique, à 10 minutes à pied du marché nocturne de la ville (Night Bazaar), All in 1 Guesthouse se trouve à 15 minutes en voiture de l'aéroport international, de la gare ferroviaire et des gares routières locales. Nous sommes à seulement 5 minutes à pied de la porte de Thapae et des marchés du samedi et du dimanche de Chiang Mai.

  //- p De très nombreux délicieux restaurants locaux ou internationaux sont situés aux alentours de cette charmante petite ruelle. <br>
  //-   | Les chambres sont fonctionnelles, climatisées et ventilées. Elles disposent toutes d'un réfrigérateur, d'une télévision par câble et d un lecteur dvd/mp3. Les salles de bains comprennent une douche avec eau chaude et toilettes. Vous avez le choix entre lit double ou lits jumeaux.

  //- p Pour votre confort, la réception est ouverte 24h/24. Nous vous aiderons à organiser au mieux votre séjour, Chiang Mai offrant un nombre impressionnant  d’activités à faire en excursions ou par soi-même. Une pièce est à disposition pour laisser vos bagages et les retirer à toute heure.

  //- p Massages, locations de moto, etc, etc, nous nous ferons un plaisir de vous aider à apprécier notre belle ville, ainsi que de vous donner quelques tuyaux sur le reste du pays.

  //- p Vous pourrez prendre votre petit-déjeuner dans notre agréable patio ou simplement y boire un verre pour discuter de tout et de rien en toute tranquillité.


