section#rooms: .section-in
  p 22 rooms on offer, all equipped with either double bed or twin beds,
    | linen included, ac or fan room, private bathroom with hot water.
    | Cable tv (50 channels), fridge / mini bar, DVD player,
    | free wifi connection. Daily room service

  p Rates 2015
    | (According to the season and the length of stay)
    | A.C. room, double or twin
    | 650 to 790 baht
    | Monthly rates available during low season

  p For booking: Contact us
