section#services: .section-in
  h1.u-title= __('services-title')
  p All kinds of excursions, visits, trekkings, bookings (cooking courses, spas,
    | Golden Triangle, transfer to Laos, visa run to Burma, white water rafting,
    | ziplines, etc etc etc )
  ul
    li Breakfast from 7.30 a.m.
    li Home made sandwiches and snacks anytime
    li Thai and international menu available until 9 pm
    li Bar and recreation area in our small tropical garden
    li Free wifi and internet connection
    li Massage parlour
    li Laundry
