section#services: .section-in
  h1.u-title= __('services-title')
  p All kinds of excursions, visits, trekkings, bookings (cooking courses, spas,
    | Golden Triangle, transfer to Laos, visa run to Burma, white water rafting,
    | ziplines, etc etc etc )
  ul.services-list
    //- coffee
    li.services-item
      i: +icon('coffee')
      span Breakfast from 7.30 a.m.
    //- sandwich
    li.services-item
      i: +icon('sandwich')
      span Home made sandwiches and snacks anytime
    //- plate
    li.services-item
      i: +icon('food')
      span Thai and international menu available until 9pm
    //- drinks
    li.services-item
      i: +icon('beer')
      span Bar and recreation area in our small tropical garden
    //- wifi
    li.services-item
      i: +icon('wifi')
      span Free wifi and internet connection
    //- massage
    li.services-item
      i: +icon('massage')
      span Massage parlour
    //- laundry
    li.services-item
      i: +icon('laundry')
      span Laundry
