section#services: .section-in
  h1.u-title= __('services-title')
  p All kinds of excursions, visits, trekkings, bookings (cooking courses, spas,
    | Golden Triangle, transfer to Laos, visa run to Burma, white water rafting,
    | ziplines, etc etc etc )
  ul.services-list
    li.services-item
      i: +icon('coffee')
      span Breakfast from 7.30 a.m.
    li.services-item
      i: +icon('beer')
      span Bar and recreation area in our small tropical garden
    li.services-item
      i: +icon('wifi')
      span Free wifi and internet connection (optical fiber)
    li.services-item
      i: +icon('massage')
      span Massage parlour
    li.services-item
      i: +icon('laundry')
      span Laundry
    li.services-item
      i: +icon('motorcycle')
      span Motorbike rental

  h2.u-title Activities
  p
    | All kinds of excursions, visits, trekkings, bookings (cooking courses, spas,
    | Golden Triangle, transfer to Laos, visa run to Burma, white water rafting,
    | ziplines, etc etc etc )
